
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>پنل مدیریت | داشبورد اول</title>

    @*<script src="~/Asset/PersianCalendar/jquery.md.bootstrap.datetimepicker.js"></script>*@
    @*<link href="~/Asset/PersianCalendar/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />*@

    @*<script src="~/Asset/plugins/select2/select2.full.min.js"></script>
        <link rel="stylesheet" href="~/Asset/plugins/select2/select2.min.css">*@

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Asset/plugins/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Asset/dist/css/adminlte.min.css">
    <script src="~/Scripts/PersianCalendar/kamadatepicker.js"></script>
    <link href="~/CSS/PersianCalendar/kamadatepicker.css" rel="stylesheet" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!-- iCheck -->
    <link href="~/CSS/MainCss.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Asset/plugins/iCheck/flat/blue.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/Asset/plugins/morris/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/Asset/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Asset/plugins/datepicker/datepicker3.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Asset/plugins/daterangepicker/daterangepicker-bs3.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Asset/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- bootstrap rtl -->
    @*<link rel="stylesheet" href="~/Asset/dist/css/bootstrap-rtl.min.css">*@
    <!-- template rtl version -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@


    <link rel="stylesheet" href="~/css/loader/amaran.min.css">
    <link rel="stylesheet" href="~/css/loader/animate.min.css">
    <link rel="stylesheet" href="~/css/loader/loader.css">
    <script src="~/Scripts/loader/loader.js"></script>

    <link rel="stylesheet" href="~/Asset/dist/css/custom-style.css">
    <script src="~/Scripts/MainScript.js"></script>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div id="loader-wrapper" class="center">
            <div id="loader">
            </div>
            @*<div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>*@
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom"  dir="rtl">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Home/Index" class="nav-link">خانه</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">تماس</a>
                </li>
            </ul>
            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="جستجو" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav" style="margin-right:58%;">
                <li class="nav-item d-none d-sm-inline-block" style="margin-top:7px;">
                    <a href="~/Account/Manage">
                        <i class="fa fa-key"></i>
                    </a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a class="nav-link" data-widget="" href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fa fa-sign-out">
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken();
                            }
                        </i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4"  dir="rtl">
            <!-- Brand Logo -->
            <a href="/Home/Index" class="brand-link" style="text-align:right" dir="rtl">
                <img src="~/Asset/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">پنل مدیریت</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar" style="direction: rtl;text-align:right" >
                <div style="direction: rtl">
                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
                            with font-awesome or any other icon font library -->
                            @Html.Partial("_menu")
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header"  dir="rtl">
                <div class="container-fluid">
                    <div class="row mb-2" style="text-align:right">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">@RenderSection("title") </h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><a href="#">خانه</a></li>
                                <li class="breadcrumb-item active">داشبورد</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <!-- /.row -->
                    <!-- Main row -->
                    <div class="row">
                        <!-- right col -->
                        <div class="" id="exceptionBox" style="margin-right:7%;display:none">
                            <div class="row">
                                <span style="color:red">لطفا به موارد زیر توجه فرمایید:</span>
                            </div>
                            <div class="row" id="exceptionMessage" style="color:red">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- right col -->
                        @RenderBody()
                    </div>
                    <!-- /.row (main row) -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer" style="text-align:right"  dir="rtl">
            <strong>CopyLeft &copy; 2018 SPAD</strong>
        </footer>
        <!-- Control Sidebar -->
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Asset/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
                $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Asset/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/Asset/plugins/morris/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Asset/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/Asset/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Asset/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Asset/plugins/knob/jquery.knob.js"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="~/Asset/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/Asset/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Asset/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/Asset/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Asset/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Asset/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Asset/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Asset/dist/js/demo.js"></script>
    <script>
                $(document).ready(function () {
                    $('[data-toggle="tooltip"]').tooltip();
                });


    endLoader();
    </script>
</body>
</html>

