<p dir="RTL">
    <strong>ماده 2- طرفین قرارداد</strong><Br />
    اين قرارداد فی مابين شرکت اسـپاد که از این پس در این قــــرارداد پیمانکار نامیده می شود،<br />
    و از یک طرف <span dir="LTR">@#CustomerName</span> &nbsp;به شماره همراه &nbsp;<span dir="LTR">@#CustomerMobile</span> به آدرس <span dir="LTR">@#CustomerAddress</span> و تلفن <span dir="LTR">@#CustomerPhone</span>
    که از این پس در این قرارداد کــــارفرما نامیده می شود، به شرح ذیل منعقد و طرفین قرارداد متعهد به اجرای مفاد آن می باشند<span dir="LTR">.</span>
</p>
<p dir="RTL">
    <strong>ماده 3: مبلغ قرارداد</strong><Br />
    <span dir="LTR">3-1 </span>مبلغ انجام موضوع قرارداد با توجه به مشخصات آمده در ماده 1 این قــــرارداد، &nbsp;
    به مبلغ <strong><span dir="LTR">@#PaymentTotalPrice</span></strong>تومان و به حـــروف ده میلیون تومان می باشد<span dir="LTR">.</span>
</p>
<p dir="RTL">
    <strong>ماده 4: شرایط پرداخت</strong><Br />
    <span dir="LTR">@#WebsiteContractItems</span><Br />
    <span dir="LTR">@#AccountInfo</span>
</p>
<p dir="RTL">
    <strong>ماده 5:&nbsp; شروع قرارداد</strong><Br />
    در صورت امضاء قرارداد و عدم پرداخت وجه پیش پرداخت در تاریخ عقد قرارداد،مدت زمان لازم جــهت انجام موضوع قرارداد که درماده 6 همین قرارداد درج شده است، متناسب با اختلاف تاریخ امضاء قـرارداد و تاریخ پرداخت وجه پیش پرداخت، افزایش خواهد یافت.
</p>
<p dir="RTL">
    <strong>ماده 6 : مدت زمان لازم جهت انجام موضوع قرارداد</strong><Br />
    1-6 مدت زمان لازم جهت انجام موضوع قرارداد و تحویل طرح نهایی طــبق مذاکرات انجام شده و تـوافق طرفین <strong><u><span dir="LTR">@#Duration</span></u></strong> روز کاری می باشد.
</p>
<br />
<p dir="RTL">
    <strong>ماده 7:خدمات پشتیبانی</strong><Br />
    خدمات پشتیبانی به مــدت یک سال شمســی و شروع آن از تاریخ تحویل پروژه، است که در سال های آتی با توافق طرفین،به مدت یک سال شمسی قابل تمدید می باشد.<Br />
    1-7 خدمات پشتیبانی طراحی سایت شامل رفع هرگونه نقص در عملکرد صحیــح&nbsp; موارد مندرج در ماده 1همین قرارداد و یا آموزش نحوه کار با بخش های مختلف وب سایت است.
</p>
<p dir="RTL">
    <strong>ماده 8: هاست و دامین</strong><Br />
    <span dir="LTR">1</span>-8 هزینه ثبت &nbsp;دامین و هاست بر عهده کارفرما می باشد .
    هزینه ثبت دامین و هاست به عنوان هدیه برای سال اول به عهده پیمانکار می باشد .<br />
    2-8 هزینه ثبت دامین<span dir="LTR"> دات کام&nbsp; </span>&nbsp;<span dir="LTR"><strong>@#DomainCost</strong></span> تومان برای مدت یک سال می باشد.<br />
    3-8 هزینه میزبانی وب سایت(هاست)<strong><span dir="LTR">@#HostCost </span></strong><strong>&nbsp;تومان</strong> برای مدت یک سال می باشد.<br />
    5-8 در صورت عدم پرداخت جهت تمدید سالیانه دامین و هاست،تمامی مسئولیت ها از جمله سلب شدن دامین و از دست دادن محتوای سایت بر عهده کارفرما می باشد.<br />
    6-8 دامین پیشنهادی فقط در صورتی که آزاد باشد قابل ثبت بوده،در غیر این صورت کارفرما دامین دیگری را باید پیشنهاد کند.
</p>
<p dir="RTL">
    &nbsp; <strong>ماده 9: تعهدات پیمانکار</strong><br />
    1-9 كلیه اطلاعاتى كه توسط كارفــرما در اختيار پیمانکار قرار میــــگیرد از سوی پیمانکار محرمانه تلقـــی میگردد و پیمانکار موظف به حفظ و نگهدارى اطلاعات داده شده می باشد.<br />
    2-9 پیمانکار متعهد می شود کلیه خدمات ذکر شده در موضوع قرارداد را پس از تسویه کامـــل قـــرارداد، به کارفرما ارائه دهد.<br />
    3-9 پیمانکار متعهد می شود، در طول قرارداد کلیه مشکلات فنی مربوط به وب سایت را برطرف نماید.
</p>
<p dir="RTL">
    <strong>ماده 10: تعهدات کارفرما</strong><br />
    1-10 پرداخت کلیه کسورات قانونی مبلغ قرارداد بر عهده کارفرما میباشد.<br />
    2-10 پیمانکار هیچ گونه مسولیتی در قبال در اختیار قرار گرفتن اطلاعات امنیتی وب سایت به افراد غیربه هر نحوی که از سوی کارفرما باشد را ندارد.<br />
    3-10 کارفرما متعهد می شود که پس از عقد قرارداد، در قبال درخواست اضافه کردن ویژگی های جدید به وب سایت، هزینه بررسی شده از سمت پیمانکار را به پیمانکار پرداخت نماید.<br />
</p>
<br />
<br />
<br />
<p dir="RTL">
    <strong>ماده 11: حل اختلاف</strong><br />
    در صورت بروز اختلاف فی ما بین طرفین ، در صورتی که توافقی در مذاکرات حـاصل نشد، اختلاف از طریق مراجع ذیصلاح مورد بررسی قرار می گیرد.
</p>
<p dir="RTL">
    <strong>ماده 12: فسخ قرارداد</strong><br />
    قرار داد از نوع لازم الاجرا تلقی شده و تنها در صــورت وقوع شرایط فسخ اشاره شده در متن قـراداد و یا توافق طرفین قابل فسخ می باشد.
</p>
<p dir="RTL"><strong>ماده 13: فورس ماژور</strong><br />
در صورت بروز هرگونه اشکال به علت وجود فورس ماژور (از قبیل سیل، زلزله، جنگ، اعتصاب و غیره) طبق قوانین حاکم بر جامعه عمل خواهد شد.</p>
<p dir="RTL"><strong>ماده 14: نسخ قرارداد</strong><br/>
این قرارداد در 14 ماده در دو نسخه که اعتبار یکسان دارند تنظیم و تمامی صفحات به امضاء طرفین &nbsp;رسید.</p>
<p dir="RTL" style="margin-right:.۵in">
    سفارش دهنده محترم ، ضمن تشکر از انتخاب شما ، لطفا به موارد ذیل توجه فرمایید :<br />
    این پروژه دارای ضمانت نامه حسن انجام کار خدمات از طرف مجموعه می باشد .<br />
    پیمانکار موظف به حفظ اطلاعات و منابع به اشتراک گذاشته شده مجموعه می باشد .<br />
    کارفرما در تمامی مراحل ارتقا موظف به همکاری های لازم با پیمانکار اعم از تغییرات و ساعات استفاده می باشد .<br />
    در صورت فسخ قرارداد از طرف کارفرما ظرف مدت یک هفته نصف مبلغ قرارداد عودت می گردد .
</p>
